{% extends 'base.html.twig' %}

{% block title %}Movie - {{ title }} {% endblock %}

{% block body %}

{% if poster is defined %}
<img src='{{ poster }}'/>
{% endif %}

<h2>Title: {{ title }}</h2>
<p>Description: {{ plot }}</p>
<p>Actors: {{ actors }}</p>

{% endblock %}