<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('project_video_index') }}">Główna</a>
                </div>
                <div class="col-md-6 text-right">
                {% if is_granted("ROLE_USER") %}
                    Zalogowany jako: {{ app.user.username }}
                    <a href="{{ path('project_video_index') }}logout">Wyloguj</a>
                {% else %}
                    <a href="{{ path('project_video_index') }}register">Rejestracja</a>
                    <a href="{{ path('project_video_index') }}login">Logowanie</a>
                {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
