<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->

        <style>
        .col-md-3 img, .col-md-12 img{
        width: 260px;
        height: 360px;
        }

        .col-md-3 {
        margin-bottom: 20px;
        }

        .footer {
            margin-top: 20px;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('project_video_index') }}">Home</a>
                    <a href="{{ path('project_movie_cart') }}">Cart</a>
                </div>
                <div class="col-md-6 text-right">
                {% if is_granted("ROLE_USER") %}
                    Hello {{ app.user.username }}
                    <a href="{{ path('project_video_index') }}logout">Logout</a>
                {% else %}
                    <a href="{{ path('project_video_index') }}register">Register</a>
                    <a href="{{ path('project_video_index') }}login">Login</a>
                {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
            <div class="row footer">
                <div class="col-md-12">
                    This is Footer. Believe it!
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
