{% extends 'base.html.twig' %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}




<div class="row">
	<div class="col-md-12">
		<h2>Movies</h2>
	</div>
</div>

<div class="row">
	{% for item in movies %}
		{% if loop.index % 4 == 0 %}
			<div class="row">
		{% endif %}
		<div class="col-md-3">
			<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'><img src='{{ asset('bundles/projectvideo/images/') }}{{ item.title }}.jpg'></a> 
			<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'>{{ item.title }}</a>
		</div>
		{% if loop.index % 4 == 0%}
			</div>
		{% endif %}
	{% endfor %}
</div>


<div class="row">
	<div class="col-md-12">
		<h2>Most commented movies</h2>
	</div>
</div>
<div class="row">
	{% for item in commented %}
		<div class="col-md-3">
			<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'><img src='{{ asset('bundles/projectvideo/images/') }}{{ item.title }}.jpg'></a> 
			<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'>{{ item.title }}</a>
		</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Most Ordered movies</h2>
	</div>
</div>
<div class="row">
	{% for item in ordered %}
		<div class="col-md-3">
			<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'><img src='{{ asset('bundles/projectvideo/images/') }}{{ item.title }}.jpg'></a> 
			<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'>{{ item.title }}</a>
		</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-md-12">
		<h4>Genres</h4>
	
		{% for item in genres %}
			<a href='{{ path('project_movie_genre', { 'genre': item }) }}'>{{item}}</a>
		{% endfor %}
	</div>
</div>

{% endblock %}