{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.col-md-3 img{
	    width: 240px;
	    height: 360px;
		}

		.col-md-3 {
		margin-bottom: 20px;
		}
	</style>
{% endblock %}

{% block body %}
<p>It's alive !</p>

<div class="row">
{% for item in movies %}
	{% if loop.index % 4 == 0 %}
		<div class="row">
	{% endif %}
		<div class="col-md-3">
		<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'><img src='{{item.poster}}'></a> 
		<a href='{{ path('project_movie_movie', { 'movie': item.imdbId }) }}'>{{ item.title }}</a>
		</div>
	{% if loop.index % 4 == 0%}
		</div>
	{% endif %}
{% endfor %}
</div>

<h2>Movies</h2>
<p>
Movie poster, Movie title<br>
</p>
<h2>Most popular movies</h2>
<p>
Movie poster, Movie title<br>
</p>
<h2>Most commented movies</h2>
<p>
Movie poster, Movie title<br>
</p>

<div class="row">
<h2>Genres</h2>
<ul class="list-inline">
{% for item in genres %}
	<li><a href='{{ path('project_movie_genre', { 'genre': item }) }}'>{{item}}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}